/* 
    Created on : 22 Απρ 2015, 10:50:44 πμ
    Author     : chris
    libray name: custom_css_my_area
*/
form.alignment {
    float: left;
    width: 50%;
    display: inline-block;
}

div.color-body.mymodels-view-apps.alignment {
    width: 45%;
    display: inline-block;
    float: left;
    margin: 0 0 0 15px;
}