/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Apr-2015, 16:16:26
    Author     : Christos Papoulas <papoulas@ics.forth.gr>
*/


.wizard a {
    padding: 10px 7% 10px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
}

.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}

.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}

.wizard a:first-child .badge {
    margin-left: 0;
}

.wizard .current {
    background: #007ACC;
    color: #fff;
}

.wizard .current:after {
    border-left-color: #007ACC;
}

.form-each-step {
    min-height: 350px;
    position: relative;
    border-top: 1px solid #007ACC;
    padding: 15px;
}

.form-each-step .info,  .form-each-step ul li {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 1em;
    color: #475273;
}

.form-each-step .error {
    font-size: 17px;
    margin-top: 1em;
    color: red;
}
.form-each-step span.component-name {
    color: #007ACC;
}

.action-buttons {
    position: absolute;
    bottom: 0px;
}

#components_communication #add_connection {
    position: absolute;
    right: 10px;
    padding: 8px;
}

span.remove_button {
    cursor: pointer;
    visibility: hidden;
}

tr:hover span.remove_button {
    visibility: visible;
}

#components_error, #XMIfieldInput {
    display: none;
}

tr {
    border-bottom: 1px solid blanchedalmond;
}

tr td {
    padding: 10px;
}

img.waiting {
  position: absolute;
  left: 49%;
  bottom: 40%;
  height: 13%;
}