/* general css start */
body {
    background-color: #eeeeee;
}

.container-full {
    margin-top: 10px;
}

h3 {
    color: #9ea5b2;
    background-color: #ffffff;
    text-transform: capitalize;
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 1.3em;
}
chart-graph
h4 {
    color: #9ea5b2;
    text-transform: uppercase;
    margin-left: 5px;
}

.content {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}

.elgg-menu-item-messages {
    position: relative;
}

.elgg-form.form-horizontal {
    background-color: #ffffff;
}

.elgg-form.elgg-form-core-login {
    float: left;
    margin: 8px 0 0 0;
}

.elgg-form.elgg-form-core-register {
    padding: 20px 20px;
    display: inline-block;
}

.elgg-output {
    margin-top: 0px
}

.elgg-output, .elgg-image-block, .elgg-head {
    background-color: #fff;
}

.elgg-form-usersettings-save * {
    background-color: #fff;
    padding-left: 8px;
    color: #9ea1a6;
}

.elgg-module-info > .elgg-head h3 {
    color: #9ea1a6;
    margin: 5px 0;
}

.elgg-avatar {
    z-index: 2;
}

.elgg-subtext {
    margin-top: -10px;
    margin-bottom: 5px;
}

.elgg-input-radio {
    display: inline-block;
    margin-right: 10px;
}

.elgg-input-longtext {
    width: 100%;
}

.elgg-module-info > .elgg-head {
    margin: 0;
    border-radius: 0;
    padding: 0;
    background: #fff;
}

.elgg-input-radios {
    list-style: none;
}

/* general css end */

.post.item.model  * .elgg-image {
    padding-top: 15px;
}

.post.item.model * .elgg-body h3{
    padding-top: 15px;
}

.color-body {
    background-color: #fff;
}
.post.item.model .add2cart{
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 300px;
    background-color: #475071;
    color: #fff;
    padding: 60px;
    font-size: x-large;
    text-align: center;
    display: none;
}

#components-categories {
    background: #fff;
    padding: 20px;
    max-width: 900px;
}

#components-categories .post.item.category .elgg-content .elgg-image-block .elgg-body img {
    width: 100px;
}

.post.item.category {
    width: 150px;
    float: left;
    margin: 0 22px 20px 0;
}

.post.item.category .elgg-content {
    text-align: center;
}

.category-sidebar {
    background: #fff;
    padding: 20px;
    margin-top: 21px;
}

.category-sidebar hr {
    width: 270px;
    margin-left: -20px;
    margin-top: 0;
}

#skills, #appendedInputButton {
    height: 28px;
    width: 80%;
    float: left;
}

.appendedInputButton {
    height: 28px;
    width: 80%;
}

.appendedInputText {
    height: 28px;
    width: 80%;
    margin-top: 10px;
}

ul.nav a.brand {
    padding-top: 0;
    padding-bottom: 0;
}

#passage-logo {
    height: 28px;
    margin-top: 4px;
}

.navbar-inner {
    background-color: #2d3043;
    /* remove the gradient */
    background-image: none;
    /* set font color to white */
    color: white;
}

.post.item.model .elgg-content {
    height: 200px;
    width: 300px;
    float: left;
    margin: 0 10px 15px 0;
    background-color: #FFFFFF;
    margin-left: 7px;
    position: relative;
}

.post.item.model > .elgg-content > .models-rules {
    position: absolute;
    bottom: 0px;
    background-color: #475071;
    height: 25px;
    width: inherit;
    display: none;
}

/* models css*/
.elgg-content .description {
    color: #000000;
}

#applications-views .post.item.model {
    display: inline; 
    float: left;
    margin-left: -7px;   
}

.elgg-breadcrumbs{
    color: #475273;
    font-size: 1.6em;
}
/* Recommended models start*/
.recommended-models {
    background-color: #475272;
    color: #fff;
    height: 36px;
    margin-bottom: 11px;
    margin-top: 10px;
}

.recommended-models h3 {
    margin-left: 8px;
    margin-top: 3px;
}

.recommended-expand {
    float: right;
    margin-top: 5px;
    margin-right: 60px;
    text-decoration: underline;
    cursor: pointer;
}

.recommended-collapse {
    position: absolute;
    bottom: 5px;
    right: 60px;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}


/* Recommended models end */

/* expand and collapse css start */

/* expand and collapse css end */

.models-score {
    margin-left: 5px;
    font-style: normal;
}

.models-all-scores {
    float: right; 
    color: #021a40;
}

.badge {
    background-color: #40c0c2;
    width: 76px;
    height: 20px;
    margin-left: 8px;
}

.elgg-content > .models-info {
    position: absolute;
    bottom: 0px;
    background-color: #475071;
    height: 25px;
    width: inherit;
    color: white;
    border: 1px solid;
}

.post.item.model > .elgg-content > .models-rules:hover #models-rules {
    display: block;
}

.post.item.model > .elgg-content > .models-info > .models-info-details {
    margin: 4px 4px 4px 4px;
}

.models-filter-header {
    color: #9999cc;
    text-transform: uppercase;
    float: left;
}

.models-sidebar {
    background: #fff;
    padding: 20px;
}

.models-sidebar .sidebar-section.tags {
    position: relative;
}

.sidebar-section.tags .span-view-all {
    position: absolute;
    width: 25%;
    right: 0;
    top: 0;
}

.sidebar-section-show {
    margin-top: 10px;
}

.sidebar-section-show label {
    color: #9999cc;
}

.models-sidebar .sidebar-section h3 {
    color: #9999cc;
}

.sidebar-section {
    margin: 20px 0;
    position: relative;
}

.models-sidebar .sidebar-section .models-button-filter {
    position: relative;
    width: 100%;
}
.models-sidebar .sidebar-section p {
    color: #999999; 
}

.models-sidebar .sidebar-section p *{
    color: #999999;
}

.models-sidebar .sidebar-section .time-select {
    width: 105px;
}

.models-sidebar  hr {
    width: 270px;
    margin-left: -20px;
    margin-top: 0;
}

.model-expand-info {
    display: none;
    position:absolute;
    top:0; left:0;
    background: #fff;
    width: 105%;
    min-height: 360px;
    z-index: 1;
    border: 3px solid #475071; 
}

.model-expand-info > .elgg-content {
    height: 100%;
}

.model-collapse-button {
    right: 0; bottom: 0;
    position: absolute;
    cursor: pointer
}

.model-expand-button {
    cursor: pointer;
    position: absolute; 
    right: 5px;
}

.models-info-details-big {
    float: left;
    height: 50px;
    width: 140px;
    margin-bottom: 5px;
}

.models-info-details-big img {
    position: absolute;
}

.specific-details-model-expand {
    width: 90px;
    float: right;
    top: 0px;
    padding-left: 5px;
}

.model-description {
    width: 100%;
    height: 104px;
    overflow: hidden;
}

.cloud-providers-info {
    background-color: #fafafa;
    height: 30px;
    width: 100%;
}

/* code for change the info to actions start */
.badge {
    display: none;
    cursor: pointer;
}

.badge.appwatch img {
    width: 22px;
}

.models-info:hover .badge {
    display: inline-block;
}

.models-info:hover .models-info-details {
    display: none;
}

.models-info .badge a {
    color: #fff;
}
.models-info .badge.appwatch {
    background-color: #f6766b;
}
/* code for change the info to actions end */

/* models css end*/

/* application full view css start */
.full-application-view {
    background: #fff;
    display: inline-block;
    min-height: 372px;
    padding: 10px 10px 40px 10px;
    margin-bottom: 10px;
    position: relative;
}

.full-application-view > .files {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.full-application-view > .files a {
    padding: 6px;
}

.application-full-with-description {
    width: 415px;
    float: left;
    min-height: 372px;
}

.application-mean-rate {
    float: left;
    padding: 10px;
    position: relative;
}

.model-specific-sidebar {
    background: #fff;
    padding: 20px;
    position: relative;
    margin-bottom: 5px;
}
.model-specific-sidebar.contributors {
    width: 280px;
    height: 200px;
}

.model-specific-sidebar.contributors .connections-slider{
    top: 50px;
}

.contributors .add-link{
    position: absolute;
    bottom: 6px;
    left: 9px;
}

.model-specific-sidebar.model-specific-sidebar-tags {
    width: 280px;
    height: 240px;
}
.model-specific-sidebar .view-all {
    position: absolute;
    right: 10px;
    top: 23px;
}

.application-action-icons .one-icon{
    background: #fff;
    margin-bottom: 6px;
    margin-right: 10px;
    position: relative;
}

.application-action-icons .one-icon * {
    display: inline-block;
}

.application-action-icons .one-icon .details-for-app {
    position: absolute;
    top: 20px;
}

.application-action-icons .one-icon .details-for-app h3 {
  margin-right: 3px;
}

.span-width-components {
    width: 100%;
}

.application-submenu {
    background: #474f70;
    height: 50px;
    position: relative;
}

.application-submenu .application-submenu-item {
    margin-left: 20px;
    margin-top: 15px;
    float: left;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    height: 100%;
    position: relative;
    text-align: center;
}
.application-submenu .application-submenu-item a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    height: 100%;
}
.arrow-up {
    width: 0; 
    height: 17px; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    right: 50%;
}

/* discussion for component start */
.span-width-components .elgg-input-longtext {
    width: 100%;
}

.textarea-div {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 98%;
    height: 200px;
    margin-bottom: 10px;
}

.body-form-discussion #suggestions {
    position: absolute;
    display: none;
    width: 400px;
    height: 300px;
    border: 3px solid #505261;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: 9;
}

.suggestions-list .suggetion-item {
    padding: 15px 10px;
    border-bottom: 2px solid #efefef;
    height: 20%;
}

.suggestions-list .suggetion-item.active {
    background-color: #e0e3ea;
}

#execution-association, #suggest-app-out-form {
    border: 3px solid #505261;
    background-color: #ffffff;
    padding: 10px;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 25px;
    right: 0px;
    z-index: 9;
    display: none;
}

#execution-association {
    height: 127px;
}

#execution-association input, #suggest-app-out-form input {
    width: 100%;
    height: 25px;
    background-color: #fafafa;
}

/* discussion for component end */

/* application full view css end */

/* components list view css start */

#components-views .post.item.model {
    height: 200px;
    width: 300px;
    float: left;
    margin: 0 10px 20px 0;
    background-color: #FFFFFF;
    margin-left: 7px;
    position: relative;
}

#components-views * .componenets-all-scores{
    background: #fafafa;
    position:absolute;
    top: 3px;
    right: 2px;
}

.components-count {
    background-color: #ffffff;
    padding: 8px;
    margin: 0 24px 20px 10px;
    color: #a0a4a7;
}

#components-views * h3 {
    margin-top: 20px;
}

#components-views * .components-info {
    position: absolute;
    bottom: 0px;
    background-color: #475071;
    height: 25px;
    width: inherit;
    color: white;
    width: 300px;
    margin-left: -7px;
}
#components-views * .components-info .models-info-details {
    margin-left: 5px;
    margin-right: 10px;
}

#components-views * .component-image {
    margin-top: 20px;
    float: left;
    width: 60px;
    margin-right: 10px;
}

.components-info div.badge.addtocart, .components-info div.badge.addtocart2{
    margin-top: 2px;
}
.components-info div.badge.addtocart a, .components-info div.badge.addtocart2 a
{
    color: #fff;
}

.component-full-view-icon {
    width: 100px;
    float: left;
    margin: 8px 8px;
}

.elgg-module-components-items .elgg-body, .elgg-module-components-items .elgg-head {
    padding: 10px;
}

.elgg-module-components-items .elgg-body {
    background-color: #ffffff;
}
/* components list view css end */

/* components full view start */

/* components full view end */

/* groups all view start */
.elgg-item {
    margin: 3px;
    background: #fff;
    list-style-type: none;
}

.elgg-item div.name h4 a {
    color: #4f5263;
}
.elgg-menu.elgg-menu-filter.elgg-menu-hz.elgg-menu-filter-default {
    margin-left: 0px;
}
/* groups all view end */

/* profile of specific group start */
.groups-profile.clearfix.elgg-image-block {
    border-top: 25px solid #2b3143;
}
.groups-profile.clearfix.elgg-image-block .elgg-image .groups-profile-icon img{
    border: 5px solid #2b3143;
    margin-top: -22px;
}

.elgg-module.elgg-module-aside {
    background: #fff;
    position: relative
}

.view-all-pos {
    position: absolute;
    top: 5px;
    right: 5px;
}
.discussion-feed-header {
    text-transform: uppercase;
    background-color: #fff;
    margin-top: 20px;
}

.group-entity-rapper {
    margin: 5px 10px;
}

/* profile of specific group end */
/* navbar css start */
.topbar-menu-search {
    margin-top: 8px;
    height: 30px;
    width: 200%;
}

.elgg-form-topbar-search {
    position: absolute;
    left: 30%;
}

.nav {
    margin-top: 5px;
}
/* navbar css end*/

/* group carousel start */
.carousel.slide {
    width: 1240px;
}

.carousel-inner {
    background-color: #475172;
}

.carousel-inner .elgg-item {
    width: 350px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.carousel-inner .item {

}

/* group carousel end*/

/* discussion form css start*/
.body-form-discussion {
    background: #fff;
    padding-left: 4px;
    margin: 10px 0;
}

.discussion-topic-body, textarea-div {
    width: 800px;
    color: #999999;
}

.body-form-discussion .disc-button-submit {
    position: relative;
    margin-right: 14px;
    background-color: #474f70;
    color: #fff;
    height: 25px;
    width: 70px;
    left: 46%;
    margin-left: 14px;
}

.badge-image {
    width: 20px;
}
.disc-small-icon {
    float: right;
    margin-right: 3px;
    position: relative;
    width: 25px;
}

.votes-stasts-wrapper {
    background-color: #fafafa;
    color: #969ea9;
    padding: 8px;
    height: 40px;
}

.votes-stasts-wrapper .downvote {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.votes-stasts-wrapper .action img {
    cursor: pointer;
}

.votes-stasts-wrapper .action {
    display: none;
}
/* discussion form css end*/

/* models run css start */

.models-run-filter {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    margin-bottom: 7px;
    color: #9ea5b2;
    position: relative;
}

.dateclass{
    width:100%;
}

.dateclass.placeholderclass::before {
    width:100%;
    content:attr(placeholder);
    background-color:#FFFFFF;
}

.dateclass.placeholderclass:hover::before {
    width:0%;
    content:"";
}

.models-run-runs {
    width: 100%;
    min-height: 280px;
    background-color: #fff;
    margin-bottom: 7px;
    color: #9ea5b2;
    position: relative;
}

.models-run-filter .submodel-menu-filter .control-group label {
    color: #9ea5b2;
}

.models-run-filter .header {
    color: #9ea5b2;
    text-transform: uppercase;
    margin-left: 20px;
    padding-top: 10px;
}

.models-run-filter input {
    max-width: 60px;
}

.models-run-filter select {
    max-width: 90px;
}

select[name=clouds] {
    max-width: 85px;
}

select[name=geography] {
    max-width: 85px;
}

select[name=geographies] {
    max-width: 85px;
}

#clouds select {
    width: 85px;
}

.models-run-filter .submodel-menu-filter {
    float: left;
    margin-left: 20px;
    padding-top: 20px;
}

.models-button-filter {
    color: #fff;
    background-color: #475071;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.chart-submenu {
    background-color: #2b3143;
    color: #fff;
    text-transform: uppercase;
    float: left;
    padding: 3px 41px 4px 41px;
    margin-right: 2px;
    margin-bottom: 5px;
    width: 23%;
    text-align: center;
}

.chart-submenu a {
    color: #fff;
}

.chart-graph {
    height:240px; 
    float: left; 
    position: relative;
    width: 80%;
}

.chart-graph .no-exechistory-message {
    position: absolute;
    top: 43%;
    left: 40%;
    font-size: 1.7em;
}

.chartProviders {
    width: 20%;
    float: left;
    z-index: 10;
    position: relative;
    background-color: #475071;
}

.inside-cart-text {
    position: absolute;
    bottom: 0px;
}

.colored-white, .colored-other {
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-right: 5px;
}

.colored-white {
    background-color: #fff;
}

.colored-other { 
    background-color: #41c0c2
}


/* models run table start */
.models-run-table {
    background-color: #fff;
    color: #a4aab7;
    display: table;
}

#app-runs-table {
    background-color: #ffffff;
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
}

#app-runs-table thead tr th {
    padding-right: 5px;
    padding-left: 5px;
}

#app-runs-table tbody tr td {
    padding: 5px 0 5px 0;
    padding-left: 10px;
}

#app-runs-table tbody tr {
    border-bottom: 1px solid #ccc;
    
}

#app-runs-table tr {
  cursor: pointer;
}

#app-runs-table th.tablesorter-headerAsc { 
    background-image: url(../../_graphics/models/asc.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
} 


#app-runs-table th.tablesorter-headerDesc { 
    background-image: url(../../_graphics/models/desc.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
} 

#app-runs-table th.tablesorter-headerUnSorted { 
    background-image: url(../../_graphics/models/bg.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
    border-right: 1px solid #dad9c7; 
} 

.expand-execution-row {
    cursor: pointer;
    font-size: x-large;
}

.expand-execution-row span {
    display: block;
}
.execution-vm-type {
    background-color: #eee;
    color: #a3a9b6;
    padding: 5px;
    width: 25px;
    margin: 2px;
    display: -webkit-inline-box;
    text-align: center;
}

.use-this-wrapper {
    position: relative;
}

.use-this-wrapper {
    text-align: center;
}

.use-this-wrapper a {
    color: #fff;
}
/* models run table start */

/* models run css end */

/* models reviews css start */

.most-helpful-count-users {
    margin: 5px 5px;
}

.edit-review {
    position: absolute;
    right: 10px;
    top: 20px;
    text-decoration: underline;
}

.edit-review span:first-child {
    margin-right: 5px;
}

/* models reviews css end */


/* user profile css start */

.profile.span1 {
    width: 100%;
    background-color: #fff;
}

.profile-main {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
}

.profile-main > .elgg-avatar img {
    border: 2px solid #021a40;
    padding: 1px;
    margin-top: 20px;
}

.profile-main > .elgg-avatar {
    display: inline-block;
}

.contributions {
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.contributions .text {
    text-transform: capitalize;
    color: #a4acb7;
    margin-right: 15px;
}

.contributions .number {
    margin-right: 4px;
    font-size: x-large;
}

.contributions .number.question {
    color: red;
}
.profile-info-user {
    display: inline-block;
    left: 100px;
    top: 25px;
    position: absolute;
}

.profile-info-user .information-profile {
    margin-left: 10px;
}
.myprofile-menu {
    border-top: 25px solid #021a40;
    top: 0px;
    position: absolute;
} 

.myprofile-menu elgg-avatar img {
    margin-left: -20px;
}

.edit-profile-link {
    right: 8px;
    position: absolute;
    top: -22px;
    color: #fff;
    background-color: #474f70;
    width: 100px;
    height: 25px;
    margin-top: -3px;
    right: 0px;
    padding-left: 30px;
    padding-top: 2px;
}

.edit-profile-link img {
    margin-left: -26px;
}
.remove-or-add-friend a, .message-to-user a, .report-user a {
    //top: -25px;
    width: 100px;
    height: 25px;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    padding-top: 3px;
    // padding-left: 30px;
}

.report-user {
    position: absolute;
    right: 100px;
    top: -25px;
}

.report-user a {
    background-color: #474f70;
}

.message-to-user a, .remove-or-add-friend a {
    border-right: 2px;
    border-color: #fff;
    border-style: solid;
    background-color: #f47264;
}
.message-to-user {
    position: absolute;
    top: -25px;
    right: 201px;   
}

.remove-or-add-friend {
    position: absolute;
    top: -25px;
    right: 301px;
    background-color: #f47264;
}

.profile-actions-image {
    margin-left: 2px;
    margin-right: 3px;
    padding-bottom: 3px;
}

.view-all-friends {
    position: absolute;
    top: 10px;
    right: 10px;
}

.user-stats-overview {
    position: relative;
    width: 280px;
    height: 200px;
    background-color: #474f70;
}

.user-stats-overview p {
    color: #fff;
    text-transform: capitalize;
    padding: 5px 0px 0px 10px;
}

.user-stats-overview canvas {
    margin-left: 60px;
}

.skills-overview {
    width: 285px;
    height: 250px;
    background-color: #fff;
    margin-top: 10px;
    position: relative;
}

#skills-form {
    position: absolute;
    bottom: 0px;
    width: 93%;
}

.skills-overview form {
    width: 100%;
    left: 10px;
}

.areas-of-interest-overview {
    width: 285px;
    height: 250px;
    background-color: #fff;
    margin-top: 10px;
    position: relative;
}

#interest-form {
    bottom: 0;
}

.loading_icon {
    position: absolute;
    left: 45%;
    bottom: 10px;
}

.my-connections-overview {
    width: 285px;

    height: 200px;
    background-color: #fff;
    margin-top: 10px;
    position: relative;
}

.my-groups-overview {
    width: 285px;
    height: 320px;
    background-color: #fff;
    margin-top: 10px;
}

.sidebar-user h4 {
    text-transform: uppercase;
    color: #9ea5b2;
    padding: 10px 0px 0px 10px;
}

.profile-activity {
    width: 100%;
    background-color: #fff;
}

.profile-activity h3 {
    padding: 10px 0px 5px 10px;
    color: #9ea5b2;
    text-transform: uppercase;
}

.top-contributions-row {
    background-color: #2b3143; 
    height: 40px; 
    color: #fff;
    position: relative;
}

.top-contributions-row h3 {
    padding: 5px 0px 0px 10px;
}

.top-contributions-row h4 {
    position: absolute;
    right: 5px;
    top: 10px;
}

.top-contributions-row h4 a {
    color: #fff;
}
.profile-top-discussions {
    background-color: #fff;
    height: inherit;
    width: 100%;
    margin: 8px 0px 8px 0px;
}

.profile-top-discussions h3 {
    padding: 10px 0px 5px 10px;
    color: #9ea5b2;
    text-transform: uppercase;
}

.user-type-title {
    color: #fff;
    position: absolute;
    left: 38%;
    top: 47%;
    text-transform: uppercase;
    font: caption;
}

.friend-contributions-and-messages {
    position: absolute;
    width: 100%;
}

.friend-contributions-and-messages div {
    margin-left: 15px;
}

.friend-contributions-and-messages div span{
    margin-right: 10px;
    text-transform: uppercase;
}
.friend-contributions-and-messages .actions{
    margin: 5px 5px;
    right: 15px;
    position: absolute;   
}

.friend-contributions-and-messages .mutuals {
    position: absolute;
    right: 2px;
    top: 1px;
    color: #9ea6b2;
}

span.profile_fields_name {
    color: red;
    font-size: 1.1em;
}
/* user profile css end */

/* rating system css start */
/* Wrappers */
.rating-wrap{
    width:110px;
    height:18px;
    position:relative;
    margin: 5px 10px 10px;
}

.radio-wrap{
    width:100%;
    height:100%;
}

.radio-wrap-no-fill {
    width:100%;
    height:100%;
}
/* Radio Buttons */
.radio-wrap input[type=radio] {
    display:inline-block;
    position:relative;
    z-index:2;
    margin:0;
    width:15%;
    height:100%;
    opacity:0;
}

/* Filled Rating */
.rating-fill{
    width:0;
    height:100%;
    background:url('../../_graphics/models/star.png') #f47264;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

/* Checked Inputs */
input[value="5"]:checked + .rating-fill{
    width:100%;
}

input[value="4"]:checked + .rating-fill{
    width:80%;
}

input[value="3"]:checked + .rating-fill{
    width:60%;
}

input[value="2"]:checked + .rating-fill{
    width:40%;
}

input[value="1"]:checked + .rating-fill{
    width:20%;
}

/* Blank Stars */
.rating-blank{
    width:100%;
    height:100%;
    background:url('../../_graphics/models/star.png') #fff;
    position:absolute;
    top:0;
    left:0;	
    z-index:0;
}

/* Optional Hover Effect */
.radio-wrap input[value="5"]:hover + .rating-fill{
    width:100%;
}

.radio-wrap input[value="4"]:hover + .rating-fill{
    width:80%;
}

.radio-wrap input[value="3"]:hover + .rating-fill{
    width:60%;
}

.radio-wrap input[value="2"]:hover + .rating-fill{
    width:40%;
}

.radio-wrap input[value="1"]:hover + .rating-fill{
    width:20%;
}      
/* rating system css end */

/* review comments view start */
.review-form {
    position: relative;
    background-color: #fff;
}
.review-wrapper {
    position: relative;
    color: #9ea7b3;
}

.reviews-fluid {
    background-color: #fff;
    position: relative;
    height: 50px;
}
.reviews-fluid h3 {
    padding: 10px;
}
.reviews-fluid select {
    position: absolute;
    top: 10px;
    right: 10px;
}

.review-helpful-wrapper {
    font-weight:bold;
    margin: 10px 5px;
}

.review-helpful-wrapper button {
    color: #fff;
    background-color: red;
}

.review-owner-wrapper {
    display: inline-block;
}
.review-body-wrapper {
    display: inline-block;
    margin: 5px 5px;
}

.reviews-mean {
    margin: 5px;
}
.review-helpful-ratio {
    position: absolute;
    top: 0px;
    right: 5px;
}

.review-bar {
    background-color: #eee;
    height: 15px;
    width: 75px;
    display: -webkit-inline-box;
    margin: 0px 10px;
}
.review-bar div {
    background-color: #f47264;
}
.review-bars-wrapper {
    margin: 10px 30px;
}

/* review comments view end */


/* user profile skills css start */
.skill-tags-container {
    width: 189px;
    position: absolute;
    left: 10px;
    padding: 0 10px;
    height: 69px;
    overflow: hidden;
}

.skill-tags-container .skill-tag {
    display: inline-block;
    border-radius: 3px;
    background-color: #eee;
    color: #9ea5b2;
    font-size: 10px;
    border: 1px solid #ccc;
    margin-right: 3px;
    margin: 5px;
}

.skill-tags-container .skill-tag .skill-tag-rating {
    background-color: #475071;
    color: #fff;
    padding: 4px 5px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.skill-tags-container .skill-tag .skill-tag-name {
    padding: 1px 4px;
    font-size: 12px;
    display: inline-block;
}

.skill-tags-container .skill-tag .skill-tag-delete-btn {
    visibility: hidden;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 0 7px 0 0;
    cursor: pointer;
}

.skill-tags-container .skill-tag:hover .skill-tag-delete-btn {
    visibility: visible;
}

.skills-overview form {
    bottom: 0px;
    position: absolute;
}

.skills-add-button {
    float: left;
    position: absolute;
    background-color: #475272;
    color: #fff;
}

/* user profile skills css end */

/* profile group list start */
.group-entity {
    height: 100px;
    position: relative;
}

.group-profile-link {
    position: absolute;
    margin-left: 5px;
}
/* profile group list end */

/* user profile connections slider css start */

.connections-slider {
    position: absolute;
    overflow: hidden;
    height: 50px;
    width: 100%;
    top: 40px;
    left: 0px;
}

.connections-slider .connections-all-items {
    position: absolute;
    left: 15px;
    top: 0;

}

.connections-slider .connections-all-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.connections-slider .connections-all-items ul li {
    display: inline-block;
    margin-right: 5px;
}

.connections-slider .controls-left {
    background-color: #fff;
    left: 0;
    width: 15px;
    height: 50px;
    position: absolute;
}

.connections-slider .controls-right {
    background-color: #fff;
    right: 0;
    width: 12px;
    height: 50px;
    position: absolute;
}

.connections-slider .controls-left img, .connections-slider .controls-right img {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 50%;
    margin-left: -4px;
    cursor: pointer;
}

.connections-slider .connections-all-items ul li img {
    cursor: pointer;
}

.user-connection-info-div {
    position: absolute;
    bottom: 90px;
    width: 100%;
}
/* user profile connections slider css end */

/* slider for rate comments start */
.rating-slider {
    position: relative;
    overflow: hidden;
    height: 100px;
    margin-top: 35px;
    background-color: #fafafa;
    width: 280px;
}

.rating-slider .rating-all-items {
    position: absolute;
    left: 15px;
    top: 0;
    background-color: #fafafa;
}

.rating-slider .controls-left {
    left: 0;
    top: 10px;
    width: 15px;
    height: 40px;
    position: absolute;
}

.rating-slider .controls-right {
    right: 0;
    top: 10px;
    width: 12px;
    height: 40px;
    position: absolute;
}

.rating-slider .rating-all-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rating-slider .rating-all-items ul li {
    display: inline-block;
    margin-right: 5px;
    width: 280px;
    height: 70px;
}

.rating-slider .controls-left img, .rating-slider .controls-right img {
    cursor: pointer;
}

.rating-slider  .rating-all-items .rate-info {
    width: 270px;
    display: table;
    position: absolute;
    top: 76px;
}

.ellipsis {
    overflow: hidden;
}

/* topbar cart start */
.cart-topbar-img {
    cursor: pointer;
    color: #fff;
    width: 23px;
}

.bell-topbar-img {
    cursor: pointer;
    color: #fff;
    width: 18px;
}


.cart-topbar-container {
    position: relative;
    cursor: default;
    display: none;
}

.cart-topbar-container .list {
    position: absolute;
    left: -290px;
    width: 400px;
    height: 250px;
    border: 8px solid #475071;
    background-color: #fff;
}

.cart-topbar-container .list h4 {
    color: #fff;
    background-color: #475071; 
    margin: 0;
}

.cart-link-no-display {
    margin-top: -10px;
}

.cart-link-no-display:hover, .cart-topbar-img:hover, .bell-topbar-img:hover {
    opacity: 0.7;
}

.cart-item {
    color: #021a40;
    margin: 5px;
    position: relative;
}

.cart-item .app-name {
    margin-left: 5px;
}

.cart-item .delete-app {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.cart-item .download_file {
    position: absolute;
    right: 17px;
    padding-right: 2px;
    padding-left: 2px;
}

#empty-cart-topbar {
    color: #021a40;
    font-size: medium;
    cursor: pointer;
}
/* topbar cart end */

/* topbar bell start */
.elgg-menu-item-bell {
    margin-left: 5px;
}

.elgg-menu-item-bell span {
    position: relative;
}

.bell-topbar-container {
    position: relative;
    cursor: default;
    display: none;
}

.bell-topbar-container .list {
    position: absolute;
    left: -220px;
    width: 300px;
    height: 250px;
    border: 8px solid #475071;
    background-color: #fff;
}

.bell-topbar-container .list ul li div {
    color: black;
}
.bell-topbar-container .list h4 {
    color: #fff;
    background-color: #475071;
    margin: 0;
}

.notification-list .notification-item {
    background-color: #fafafa;
    color: #3fbfc1;
    height: 70px;
    margin-bottom: 3px;
}

.notification-number {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: #f47264;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 2px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.50);
}

.notification-content {
    position: relative;
}

.notification-content .description a {
    text-decoration: underline;
    color: blue;
} 

.notification-content span.delete-notification {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}
/* topbar bell end */

/* discussion css start */
.question-full-view {
    background-color: #fff;
}

.question-full-view .question-row {
    position: relative;
}
.question-full-view .question-row a {
    position: absolute;
    top: 5px;
    right: 5px;
}
/* discussion css end */

/* community carousel start */
.community-carousel {
    position: relative;
    background-color: #2b3144;
    height: 280px;
    width: 1240px;
}

.community-wrapper {
    margin-left: 20px;
    background-color: #475172;
    height: 280px;
    width: 96%;
    overflow: hidden;
}

.community-inner-wrapper {
    height: 280px;
    padding-left: 20px;
}

.community-carousel .controls {
    position: absolute;
    color: #fff;
    background-color: #475172;
    font-size: 2.5em;
    width: 13px;
    height: 25px;
    padding-top: 3px;
    cursor: pointer;
}

.community-carousel .arrow-left {
    top: 50%;
    left: 8px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.community-carousel .arrow-right {
    top: 50%;
    right: 18px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding-right: 20px;
}

.community-carousel-item {
    background-color: #fff;
    width: 350px;
    height: 200px;
    float: left;
    margin: 20px;
    position: relative;
}

.community-carousel-item .group-stats {
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 25px;
    width: 346px;
    background-color: #475071;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}

.community-carousel-item .group-stats a {
    color: #fff;
    background-color: red;
    border-radius: 2px;
}

.community-carousel-item .group-stats .actions {
    display: none;
}
/* community carousel end */

/* models carousel start */
.recommended-models-expanded {
    display: none;
    background-color: #475272;
    position: relative;
    height: 260px;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recom-model-expand-wrapper {
    position: relative;
    height: 260px;
    background-color: #2b3144;
}

.recom-model-expand-submenu {
    top: 0;
    left: 0;
    width: 220px;
    height: 260px;
    float: left;
    display: inline;
}
.recom-model-expand-submenu * {
    color: #fff;
}

.recom-model-exp-item-wrapper {
    float: left;
    overflow: hidden;
    width: 990px;
    height: 260px;
    color: #fff;
    background-color: #475172;
    position: relative;
}


.recom-model-expand-wrapper .controls.arrow-left {
    top: 50%;
    left: 0px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.recom-model-expand-wrapper .controls.arrow-right {
    top: 50%;
    right: 0px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding-right: 20px;
}
.recom-model-expand-wrapper .controls {
    position: absolute;
    color: #fff;
    background-color: #475172;
    font-size: 2.5em;
    width: 13px;
    height: 25px;
    padding-top: 3px;
    cursor: pointer;
}
.recom-model-expand-submenu div {
    padding-left: 5px;
    margin-top: 4px;
}

.recom-model-expand-submenu div a {
    color: #fff;
}

#applications-carousel-container {
    padding: 30px 17px;
}
/* models carousel end */

/* models tags start */
.model-specific-sidebar-tags .skill-tags-container {
    height: 150px;
    overflow: auto;
}
/* models tags end */

/* editor start */
#main-editor {
    position: relative;
}

#main-editor h3 {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 1;
}
/* editor end */

/* groups sidebar start */

.groups-sidebar .sidebar-section {
    background-color: #fff;
}

.groups-sidebar .sidebar-section.my-groups {
    height: 350px;
}

.groups-sidebar .sidebar-section.suggest-connections {
    height: 225px;
}

.groups-sidebar .sidebar-section {
    position: relative;
}

.sidebar-section.my-groups ul li {
    height: 95px;
    position: relative;
}

.sidebar-section.my-groups ul li .group_hover,  .sidebar-section.my-groups ul li .group-member{
    position: absolute;
    left: 50px;
    top: 20px;
    padding: 4px;
    cursor: pointer;
}

.sidebar-section.my-groups ul li .group-member span{
    margin-left: 10px;
    color: #a1a7b4;
}
.sidebar-section.my-groups ul li .group_hover {
    display: none;
}

.group_hover img{
    margin: 2px 5px;
}
.action_color {
    background-color: #f47264;
    padding: 3px 12px;
}

.action_color a {
    color: #fff;

}

.action_color a img {
    margin-right: 4px;
    margin-top: -4px;
}

.sidebar-section.my-groups ul li .group_hover a {
    color: #fff;
}

.sidebar-section.my-groups ul li .name {
    position: absolute;
    top: 2px;
    left: 45px;
}

.sidebar-section.my-groups ul {
    margin-bottom: 0;
}

.sidebar-section .create {
    padding: 5px;
    background-color: #474f70;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.sidebar-section .create a {
    color: #fff;
    cursor: pointer;
}
/* groups sidebar end */

/* group full view start */
.group-overview {
    background-color: #fff;
    position: relative;
    min-height: 130px;
}

.group-overview .group-actions {
    background-color: #2b3143;
    position: absolute;
    width: 100%;
    height: 25px;
    top: 0;
}

.group-overview .groups-profile-icon {
    position: relative;
    z-index: 1;
    border: 5px solid #2b3143;
    display: inline-block;
    top: 0;
}

.group-overview .groups-profile-icon {
    position: relative;
    color: #fff;
}

.group-overview .group-actions .group-actions-inside {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    height: 25px;
    float: left;
    margin-right: 1px;
    padding: 2px 5px;
}

.group-overview .group-actions .group-actions-inside a {
    color: #fff;
}
.group-overview .group-actions .group-action-links {
    position: absolute;
    right: 0px;
    height: 100%;
}

.group-overview .group-actions .group-action-links .group-actions-inside.report {
    background-color: #474f70;
}

.group-overview .group-actions .group-action-links .group-actions-inside.join-leave {
    background-color: #f47264;
}
.group-overview .group-actions .group-actions-inside a img {
    margin-right: 3px;
    margin-top: -3px;
}

.group-description {
    position: absolute;
    top: 30px;
    left: 115px
}

/* group suggest members start */
.user-view-item {
    position: relative;
    border-bottom: 1px solid #eee;
}

.user-view-item .img-suggested {
    margin: 5px 10px 5px 0;
}

.user-view-item .invitation a {
    padding: 3px;
    margin-right: 20px;
}
.user-view-item .invitation a img.invite {
    margin-right: 8px;
}

.invitation {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
}
/* group suggest members end */

/* group full view end */

/* my area start */
.elgg-menu-item-myarea {
    position: relative;
    top: 10px;
}

.elgg-module-create {
    background-color: #3fc0c2;
    height: 50px;
}

.elgg-module-create * {
    color: #fff;
}
.elgg-module-create .elgg-body {
    padding: 10px;
}

.create-icon {
    margin-right: 15px;
}

.mymodels-view-apps {
    padding: 10px;
    margin-bottom: 20px;
}

.mymodels-view-apps .app-small-object {
    margin-bottom: 10px;
    margin-right: 8px;
    float: left;
}

.my-app-name {
    color: #474f70;
    font-size: 1.5em;
}

.my-application {
    position: relative;
}

.my-application-submenu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.mymodels-view-apps ul li {
    height: 90px;
    list-style: none;
}

.my-application-submenu select {
    background-color: #eeeeee;
    color: #9ea5b2;
    width: 100px;
}

/* my area end */

/* login start */
.welcome-wrapper {
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}
/* login end */

/* register start */
.welcome-register1 {
    background-color: #475272;
    color: #fff;
}

.welcome-register2 {
    background-color: #fff;
    color: #475272;
}

.welcome-register3 {
    background-color: #eee;
    color: #475272;
}

.description-wrapper {
    padding: 30px 5px 30px 30px;
}

.sm-login-bt {
    background-color: #40c0c3;
    color: #fff;
    padding: 4px 10px;
}

.description-wrapper p {
    font-size: 1.3em;
}

.big-paragraph {
    font-size: 2em;
    line-height: 1em;
    margin: 20px 0;
}
/* register end */

/* footer start */
.elgg-page-footer {
    background-color: #2d3043;
    color: #fff;
}

.elgg-page-footer .elgg-inner {
    padding: 20px 5px 20px 5px;
}
.footer-links {
    padding: 10px 5px
}

.footer-links a {
    margin-right: 10px;
    color: #fff;
}

.footer-icons {
    text-align: -webkit-right;
}

.footer-icons img{
    margin-right: 10px;
}
/* footer end */

/* edit profile start */
.profile-submenu-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.profile-submenu-item.active {
    border-left: 6px solid #465375;
}

.profile-form-edit {
    background-color: #fff;
    padding: 10px;
}
.profile-form-edit * {
    color: #9ea1a6;    
}

.profile-form-edit input {
    height: 100%;
}

.profile-form-edit input, .elgg-input-access {
    margin: 5px 5px;
}
/* edit profile end */

/* avatar upload start */

.upload-avatar {
    background-color: #fff;
    padding: 10px;
}

.upload-avatar * {
    color: #9ea1a6;    
}
/* avatar upload end */

/* suggested members all start */
.suggested-members-all {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
}

.suggested-members-all .wrapper-headers {
    position: relative;
}

.suggested-members-all .wrapper-headers a {
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: #474f70;
    color: #ffffff;
    padding: 6px;
}

.invitations-contributions {
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.user-view-invitation {
    position: relative;
    border: 1px solid #ededed;
    display: inline-block;
    float: left;
    margin: 5px;
}

.img-invitation {
    float: left;
}

.invitations-contributions .name {
    margin-bottom: 60px;
}

.invitations-contributions .name a {
    font-size: 1.5em;
    color: #49535f;
}

.user-view-invitation .invite-link {
    display: inline-block; 
    float: left;
    margin-bottom: 5px;
}

.user-view-invitation .elgg-avatar {
    float: left;
}
.user-view-invitation .invite-link .invitation-action {
    visibility: hidden;
}

.invitation-sent {
    position: absolute;
    left: 0;
    top: -2px;
    height: 100%;
    width: 100%;
    background-color: #475071;
    color: #fff;
    font-size: x-large;
    text-align: center;
    padding: 35px;
    display: none;
    z-index: 1000;
}
/* suggested members all end */

/* add new group start */
.add-new-group {
    background-color: #fff;
    padding: 20px;
}
/* add new group end */

p.emphasized {
    color: #49535f;
    margin: 5px 15px;
    font-size: 1.1em;
}

.link-view-all {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* messages start */
.form-disp {
    background-color: #fff;
}
/* messages start */

/* user statistics start all */
.elgg-module-profile-complete .complete-wrapper { 
    background-color: #eeeeee;
    height: 25px;
}

.elgg-module-profile-complete .complete-filled {
    background-color: #464f70;
    height: 25px;
}

.elgg-module-profile-complete .elgg-body {
    background-color: #ffffff;
    color: #a7a8ac;
    padding: 8px;
}

.elgg-module-profile-complete .elgg-body .hint{
    margin-top: 10px;
    background-color: #fafafa;
    padding: 5px;
}

.elgg-module-profile-skills .elgg-body, .elgg-module-profile-interests  .elgg-body {
    background-color: #ffffff;
    padding: 8px;
    position: relative;
}

.elgg-module-profile-interests {
    position: relative
}
/* user statistics feed all start */
.stats-sections {
    margin-bottom: 20px;
}

.stats-sections .span4 {
    min-height: 315px;
}

.stats-sections .span4, #new-feeds {
    background-color: #ffffff;
}


.stats-sections .span4 h3 {
    margin-top: 8px;

}

.stats-sections .span4 * {
    margin-left: 5px;
    margin-right: 5px;
}

.stats-sections ul.stats-overview  {
    list-style: none;
}

.stats-sections ul.stats-overview li {
    border-top: 1px solid #eeeeee;
    padding: 7px 0;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #3F4056; 
}

.stats-sections ul.stats-overview li:first-child {
    border: none;  
    position: relative;
}

.stats-sections ul.stats-overview li span.number {
    font-size: 1.2em;
    margin-right: 5px;
    font-weight: bold;
}

.stats-sections ul.stats-overview li .date-last-feed {
    position: absolute;
    right: 0px;
    text-transform: initial;
}

.stats-sections .app-small-object {
    padding-bottom: 9px;
}

.stats-sections .app-small-object dl {
    margin-left: 26px;
}

.stats-sections .app-small-object dl dd {
    color: #aeaeae;
}

.stats-topbar {
    background-color: #464f70;
    color: #ffffff;
    padding: 8px 7px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.elgg-module.elgg-module-aside.sidebar-section.suggest-connections .elgg-body {
    height: 200px;
}

.elgg-module.elgg-module-aside.sidebar-section.suggest-connections .elgg-head {
    padding:8px;
}

.elgg-module.elgg-module-aside.sidebar-section.suggest-connections .elgg-body .connections-slider{
    top: 60px;
}    
/* user statistics feed all end */

/* user statistics end all */

/* infinite button start */
.infinite-button {
    background-color: #464f70;
    position: relative;
    height: 20px;
}

.infinite-button .arrow-down {
    color: #ffffff;
    border-radius: 35px;
    font-size: 3em;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: -7px;
    margin-left: -17px;
    display: block;
    transform: rotate(90deg);
    background-color: #464f70;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.infinite-button .loading_icon {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 31px;
    background-color: #fff;
    text-align: center;
    padding: 5px;
}
/* infinite button end */

/* sticky footer start */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}
#push,
#footer {
    height: 80px;
}
/* sticky footer end */

/* group tip start */
#tips {
    display: none;
    width: 400px;
    min-height: 100px;
    background-color: #ffffff;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #3bbec6;
    color: #3bbec6;
    padding: 10px;
}

#tips .arrow {
    width: 0; 
    height: 17px; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3bbec6;
    position: absolute;
    top: -18px;
    left: 15px;
}

.tags-wrapper {
    background-color: #fff;
    height: 50px;
    padding: 15px;
}

.tags-wrapper a {
    color: #ffffff;
    background-color: #005580;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 4px;
}

.tags-wrapper a span {
    margin-left: 4px;
    font-size: 1.2em;
    visibility: hidden;
}

.suggestion-item-out {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}
/* group tip end */

/* contributions start */
.contributor {
    position: absolute;
    bottom: 50%;
    color: #ffffff;
    background-color: red;
    padding: 4px;
    visibility: hidden;
    cursor: pointer;
}
/* contributions end */

/* river event for upload xmi start */
.river-upload-xmi img {
    width: 35px;
    float: left;
}
/* river event for upload xmi end */
/* model editor start */
.models-add {
    position: relative;
    background-color: #ffffff;
}
/* model editor end */

/* float: left; */
.mymodels-view-apps ul.elgg-list-entity li.elgg-item {
    height: 45px;
    list-style: none;
    width: 20%;
    padding: 10px;
    border: 2px solid #475071;
}

.mymodels-view-apps ul.elgg-list-entity li.elgg-item img {
    width: 15%
}

/* start myarea/watching */
.watching-apps-view  .app-entity-wrapper {
    background-color: #ffffff;
    float: left;
    margin: 5px 7px;
    padding: 7px;
}
/* end myarea/watching */

.search-content {
    margin: 5px 0 10px;
    padding: 5px 10px;
}

/* skills and interest start */
.mystats_skills .elgg-body, .mystats_interests .elgg-body{
    height: 130px;
}

#interest-form {
    position: absolute;
    bottom: 0px;
    width: 93%;
}

.mystats_skills .elgg-head, mystats_interests .elgg-head {
    position: relative;
}

.mystats_skills .elgg-head a.mystats_all, .mystats_interests .elgg-head a.mystats_all {
    position: absolute;
    right: 5px;
    font-size: 0.7em;
    font-style: normal;
}

.skills-overview a.mystats_all, .areas-of-interest-overview a.mystats_all {
    position: absolute;
    right: 10px;
    top: 10px;
}

.skill-tags-container.all_tags {
    overflow: visible;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
}

/* skills and interest end */

/* modal on execution row start */
div.modal-body fieldset { 
    display: -webkit-inline-box;
}
/* modal on execution row end */

.download_file {
    margin-right: 2px;
}

.upload_file {
    margin-right: 2px;
}

.ui-helper-hidden-accessible { display:none; }


/*for the upload gif when the reasoning and deploy button are clicked*/
div[name=upload_xmi_gif_hidden] {
    display: none;
}

div[name=upload_xmi_gif_shown] {
    display: inline;
}

/*for the modal-footer when the reasoning is finished*/
div[name=modal-footer-hidden] {
    display: none;
}
/*for the modal-footer when the deployment is finished*/
div[name=modal-footer-deploy-hidden] {
    display: none;
}

/*
div[name=modal-footer-shown] {
    display: inline;
}
*/

.activeruns * {
    margin-left: 5px;
    margin-right: 5px;
}