
<p>paragraph</p>

<p>paragraph</p>
<div class="whatever"><blockquote>
<p>paragraph</p>
</blockquote>
<p>line</p>
</div>
<p>paragraph</p>
<ul><li>line</li>
<li>paragraph

paragraph</li>
</ul>
<p>paragraph<br />line<br />line</p>
<pre>Honor
this whitespace
</pre>
<p>paragraph</p>

<p>paragraph <!-- do not alter --></p>
<dl><dt>term</dt> <dd>paragraph

<a href="xx"> <img src="yy"></a>

paragraph</dd> </dl><div><a href="xx"> <img src="yy"></a></div>
<p>Hello <a href="link"><br /><br />World</a></p>
<p id="abc">Paragraph</p><div>Line</div>