
paragraph

paragraph    <div class="whatever"><blockquote>
    paragraph
  </blockquote>
  line
</div>

paragraph
<ul>
<li>line</li>
<li>paragraph

paragraph</li>
</ul>
paragraph
line<br>    
  line
<pre>Honor
this whitespace
</pre>
paragraph

paragraph <!-- do not alter -->
<dl> <dt>term</dt> <dd>paragraph

<a href="xx"> <img src="yy" /> </a>

paragraph</dd> </dl>
<div><a href="xx"> <img src="yy" /> </a></div>

Hello <a href="link">

World</a>

<p id="abc">Paragraph</p>

<div>Line</div>